flow.json
[{"id":"33249404e21649f6","type":"inject","z":"113a4289d4b5bd83","name":"Jede Sekunde","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["ec813e2b9b5c6b1b"]]},{"id":"ec813e2b9b5c6b1b","type":"api-render-template","z":"113a4289d4b5bd83","name":"HA Sensoren lesen","server":"61b639e7.7986b8","version":0,"template":"{{ states('input_number.fake_sdm_power') }};{{ states('sensor.shellypro3em_energie') }};{{ states('sensor.shellypro3em_energieeinspeisung') }};{{ states('sensor.shellypro3em_441d6474d424_phase_c_frequenz') }};{{ states('sensor.shellypro3em_441d6474d424_phase_a_spannung') }};{{ states('sensor.shellypro3em_441d6474d424_phase_b_spannung') }};{{ states('sensor.shellypro3em_441d6474d424_phase_c_spannung') }};{{ states('sensor.shellypro3em_phase_a_leistung') }};{{ states('sensor.shellypro3em_phase_a_leistungsfaktor') }};{{ states('sensor.shellypro3em_phase_b_leistung') }};{{ states('sensor.shellypro3em_phase_b_leistungsfaktor') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":370,"y":140,"wires":[["b7e95b69a7edd2cc"]]},{"id":"b7e95b69a7edd2cc","type":"function","z":"113a4289d4b5bd83","name":"Echtzeit 3-Phasen Mathematik","func":"// 1. Alle Werte aus HA aufteilen\nlet parts = msg.payload.split(\";\");\n\n// Rohe Gesamtwerte\nlet rawTotalPower = parseFloat(parts[0]) || 0;\nlet kwh_import = parseFloat(parts[1]) || 0;\nlet kwh_export = parseFloat(parts[2]) || 0;\nlet freq = parseFloat(parts[3]) || 50.0;\n\n// === NEU: SMOOTHING (Gleitender Mittelwert) ===\n// Holt den letzten geglätteten Wert (oder startet mit dem aktuellen)\nlet lastSmoothedPower = context.get(\"smoothed_power\") || rawTotalPower;\n\n// Der \"Trägheits-Faktor\" (Alpha). \n// 0.2 bedeutet: Der neue Wert besteht zu 20% aus dem aktuellen Messwert \n// und zu 80% aus dem alten Wert. Je kleiner die Zahl, desto träger/stabiler.\nlet alpha = 0.9;\n\n// Die Glättungs-Formel\nlet fakeTotalPower = (alpha * rawTotalPower) + ((1 - alpha) * lastSmoothedPower);\n\n// Speichert den neuen Wert für den nächsten Durchlauf\ncontext.set(\"smoothed_power\", fakeTotalPower);\n// ==============================================\n\n\n// Spannungen (Alle 3 Phasen separat)\nlet v1 = parseFloat(parts[4]) || 230.0;\nlet v2 = parseFloat(parts[5]) || 230.0;\nlet v3 = parseFloat(parts[6]) || 230.0;\n\n// Phase L1 (Echt)\nlet p1_w = parseFloat(parts[7]) || 0;\nlet p1_pf = parseFloat(parts[8]) || 1.0;\nlet p1_va = (p1_pf !== 0) ? Math.abs(p1_w) / p1_pf : Math.abs(p1_w);\n\n// Phase L2 (Echt)\nlet p2_w = parseFloat(parts[9]) || 0;\nlet p2_pf = parseFloat(parts[10]) || 1.0;\nlet p2_va = (p2_pf !== 0) ? Math.abs(p2_w) / p2_pf : Math.abs(p2_w);\n\n// Phase L3 (KÜNSTLICH BERECHNET auf Basis des GEGLÄTTETEN Wertes)\nlet p3_w = fakeTotalPower - (p1_w + p2_w);\nlet p3_pf = 0.99; // Fester Sicherheitswert\nlet p3_va = Math.abs(p3_w) / p3_pf;\n\n// 3. Globale Speicherung für den Modbus-Emulator\nglobal.set(\"sdm_total_power\", fakeTotalPower);\nglobal.set(\"sdm_kwh_import\", kwh_import);\nglobal.set(\"sdm_kwh_export\", kwh_export);\nglobal.set(\"sdm_frequenz\", freq);\n\nglobal.set(\"sdm_v1\", v1);\nglobal.set(\"sdm_v2\", v2);\nglobal.set(\"sdm_v3\", v3);\n\nglobal.set(\"sdm_l1_w\", p1_w);\nglobal.set(\"sdm_l1_va\", p1_va);\nglobal.set(\"sdm_l1_pf\", p1_pf);\n\nglobal.set(\"sdm_l2_w\", p2_w);\nglobal.set(\"sdm_l2_va\", p2_va);\nglobal.set(\"sdm_l2_pf\", p2_pf);\n\nglobal.set(\"sdm_l3_w\", p3_w);\nglobal.set(\"sdm_l3_va\", p3_va);\nglobal.set(\"sdm_l3_pf\", p3_pf);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Raw: \" + rawTotalPower.toFixed(0) + \"W | Smooth: \" + fakeTotalPower.toFixed(0) + \"W\" });\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":140,"wires":[[]]},{"id":"89a1d74a1621359a","type":"serial in","z":"113a4289d4b5bd83","name":"Growatt Anfrage","serial":"usb_waveshare","x":160,"y":240,"wires":[["20cb2b91b35ac6b2","40c7043e17830d59"]]},{"id":"20cb2b91b35ac6b2","type":"function","z":"113a4289d4b5bd83","name":"Eastron SDM630 V2 Emulator","func":"function calcReactive(w, va) {\n    let val = Math.sqrt(Math.abs((va * va) - (w * w)));\n    return isNaN(val) ? 0 : val;\n}\n\nlet total_power = parseFloat(global.get(\"sdm_total_power\")) || 0;\nlet kwh_import = parseFloat(global.get(\"sdm_kwh_import\")) || 0;\nlet kwh_export = parseFloat(global.get(\"sdm_kwh_export\")) || 0;\nlet freq = parseFloat(global.get(\"sdm_frequenz\")) || 50.0;\nlet v1 = parseFloat(global.get(\"sdm_v1\")) || 230.0;\nlet v2 = parseFloat(global.get(\"sdm_v2\")) || 230.0;\nlet v3 = parseFloat(global.get(\"sdm_v3\")) || 230.0;\n\nlet l1_w = parseFloat(global.get(\"sdm_l1_w\")) || 0;\nlet l1_pf = parseFloat(global.get(\"sdm_l1_pf\")) || 1.0;\nlet l1_va = (l1_pf !== 0) ? Math.abs(l1_w) / l1_pf : Math.abs(l1_w);\nlet l1_var = calcReactive(l1_w, l1_va);\n\nlet l2_w = parseFloat(global.get(\"sdm_l2_w\")) || 0;\nlet l2_pf = parseFloat(global.get(\"sdm_l2_pf\")) || 1.0;\nlet l2_va = (l2_pf !== 0) ? Math.abs(l2_w) / l2_pf : Math.abs(l2_w);\nlet l2_var = calcReactive(l2_w, l2_va);\n\nlet l3_w = parseFloat(global.get(\"sdm_l3_w\")) || 0; \nlet l3_pf = 0.99; \nlet l3_va = Math.abs(l3_w) / l3_pf;\nlet l3_var = calcReactive(l3_w, l3_va);\n\nlet l1_a = Math.abs(l1_va / v1);\nlet l2_a = Math.abs(l2_va / v2);\nlet l3_a = Math.abs(l3_va / v3);\n\nlet total_va = l1_va + l2_va + l3_va;\nlet total_var = l1_var + l2_var + l3_var;\nlet total_pf = (total_va > 0) ? Math.abs(total_power / total_va) : 1.0;\n\nlet req = msg.payload;\nif (!Buffer.isBuffer(req) || req.length < 8) return null;\n\nlet slaveId = req[0];\n\n// === DER FIX: NUR NOCH EASTRON (ID 2) AKZEPTIEREN ===\n// Wenn der Growatt nach Chint (ID 1) sucht, stellen wir uns tot.\nif (slaveId !== 2) {\n    return null; \n}\n\nlet fc = req[1];\nlet startReg = req.readUInt16BE(2); \nlet regCount = req.readUInt16BE(4);\n\nlet res;\nif (fc === 3) { \n    res = Buffer.alloc(3 + (regCount * 2) + 2);\n    res[0] = slaveId; res[1] = fc; res[2] = regCount * 2;\n    if (startReg === 16384) {\n        let name = \"SDM630\";\n        for (let i = 0; i < name.length; i++) { res[3 + i] = name.charCodeAt(i); }\n    }\n} else if (fc === 4) { \n    res = Buffer.alloc(3 + (regCount * 2) + 2);\n    res[0] = slaveId; res[1] = fc; res[2] = regCount * 2;\n\n    function writeFloat(buf, addr, val, start, count) {\n        if (addr >= start && addr < start + count) {\n            let off = 3 + ((addr - start) * 2);\n            if(off + 4 <= buf.length - 2) {\n                buf.writeFloatBE(val, off);\n            }\n        }\n    }\n\n    writeFloat(res, 0, v1, startReg, regCount);\n    writeFloat(res, 2, v2, startReg, regCount);\n    writeFloat(res, 4, v3, startReg, regCount);\n    writeFloat(res, 6, l1_a, startReg, regCount);\n    writeFloat(res, 8, l2_a, startReg, regCount);\n    writeFloat(res, 10, l3_a, startReg, regCount);\n    writeFloat(res, 12, l1_w, startReg, regCount);\n    writeFloat(res, 14, l2_w, startReg, regCount);\n    writeFloat(res, 16, l3_w, startReg, regCount);\n    writeFloat(res, 18, l1_va, startReg, regCount);\n    writeFloat(res, 20, l2_va, startReg, regCount);\n    writeFloat(res, 22, l3_va, startReg, regCount);\n    writeFloat(res, 24, l1_var, startReg, regCount);\n    writeFloat(res, 26, l2_var, startReg, regCount);\n    writeFloat(res, 28, l3_var, startReg, regCount);\n    writeFloat(res, 30, l1_pf, startReg, regCount);\n    writeFloat(res, 32, l2_pf, startReg, regCount);\n    writeFloat(res, 34, l3_pf, startReg, regCount);\n    \n    writeFloat(res, 52, total_power, startReg, regCount);\n    writeFloat(res, 56, total_va, startReg, regCount);\n    writeFloat(res, 60, total_var, startReg, regCount);\n    writeFloat(res, 62, total_pf, startReg, regCount);\n    writeFloat(res, 70, freq, startReg, regCount);\n    writeFloat(res, 72, kwh_import, startReg, regCount);\n    writeFloat(res, 74, kwh_export, startReg, regCount);\n    writeFloat(res, 342, kwh_import, startReg, regCount);\n    writeFloat(res, 344, kwh_export, startReg, regCount);\n}\n\nif (res) {\n    let crc = 0xFFFF;\n    for (let i = 0; i < res.length - 2; i++) {\n        crc ^= res[i];\n        for (let j = 0; j < 8; j++) {\n            if (crc & 1) { crc >>= 1; crc ^= 0xA001; } else { crc >>= 1; }\n        }\n    }\n    res.writeUInt16LE(crc, res.length - 2);\n    msg.payload = res;\n    return msg;\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["c88e108494b5c177","cd8bcfc10885d861"]]},{"id":"c88e108494b5c177","type":"serial out","z":"113a4289d4b5bd83","name":"Antwort senden","serial":"usb_waveshare","x":660,"y":240,"wires":[]},{"id":"cd8bcfc10885d861","type":"debug","z":"113a4289d4b5bd83","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":360,"wires":[]},{"id":"40c7043e17830d59","type":"debug","z":"113a4289d4b5bd83","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":180,"y":360,"wires":[]},{"id":"61b639e7.7986b8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":[],"connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"usb_waveshare","type":"serial-port","name":"","serialport":"/dev/serial/by-id/usb-1a86_USB_Single_Serial_5AAB023325-if00","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"50","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"4c0275cf32d5242e","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-node-serialport":"2.0.3"}}]
